body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    font-size: 12px;
}

hr {
    z-index: 2;
    top: 30px;
    margin: 0;
    border-color: #111;
    border: 2px solid black;
}

label {
    font-weight: bold;
}

.bodyContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex-container {
    width: 100vw;
    display: flex;
/*    height: 100%;*/
/*    flex: 0 1 auto;*/
    flex-grow: 1;
    overflow: auto;
    position: relative;
/*    height: 100%;*/
}

.mainPageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}

#activityContainer {
    position: sticky;
    top: 0  ;
    z-index: 5;
}

#activityBarContainer {
    position: relative;
    width: 100%;
    top: 0;
    z-index: 4;
/*    overflow-x: hidden;*/
    overflow: visible;
}

#activityBar {
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: -5px;

    image-rendering: optimizeSpeed; /* For pixelated scaling */
}

#canvasContainer {
    position: relative;
    width: 100%;
}

#waterfall {
    position: relative;
    width: 100%;
    height: 2000px;
    image-rendering: pixelated;
}

.canvas-div-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.canvas-div {
    position: relative;
}

#activityBreak {
    position: relative;
    overflow: visible;
    top: 0;
}

#overlayDiv {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
/*    margin-top: 100px;*/
    padding-bottom: -500px;
    z-index: 7;
    overflow: visible;
    pointer-events: none;
/*    visibility: hidden;*/
}

.liveOverlayContainer {
    width: 100%;
    position: sticky;
/*    margin-bottom: -100vh;*/
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    z-index: 6;
    top: 0;
}

.liveOverlay {
    will-change: transform;
    position: absolute;
/*    overflow: visible;*/
    width: 0px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.25);
    border-top: 3px solid rgba(0, 255, 255, 1.0);
/*    border: 1px solid rgba(255, 255, 255, 0.1);*/
    top: 0;
    pointer-events: none;
}

.freqInfo {
    position: absolute;
    display: flex;
    margin-bottom: 10px;
    margin-left: 10px;
    bottom: 0;
    z-index: 10;
/*    left: 0;*/
    overflow: hidden;
    background-color: rgba(25, 25, 25, 0.8);
    border: 0px solid #000;
    border-radius: 3px;
    padding: 5px;
    width: 180px;
    height: auto;
    text-align: left; 
}

.hoverFreqInfo, .hoverTimeInfo {
    display: inline-block;
    flex: 1;
    margin-left: 5px;
    padding: 2px;
}

.freqInfo label {
    margin-bottom: 5px;
}

.bottomToolbar {
    align-self: flex-end;
    bottom: 0;
    width: 100%;
/*    overflow: hidden;*/
}

.toolbar-container {
    display: flex;
    border-top: 4px solid #111;
    position: relative;
}

.toolbar-items {
    display: flex;
    height: 250px;
    width: 100%;
/*    border-top: 4px solid #111;*/
    padding-top: 2px;
/*    padding-bottom: 4px;*/
    background-color: #222;
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
}

.toolbar-vert-divider {
    width: 4px;
/*    height: 120%;*/
    top: 0;
    bottom: 0;
    background-color: #111;
    border-radius: 4px;
    margin-top: -10px;
/*    margin-bottom: -10px;*/
}

.toolbar-buttons {
    display: flex;
    flex-direction: column;
    background-color: #111;
/*    padding: 4px;*/
}

.toolbar-container button:hover {
    background-color: #444;
/*    font-weight: bold;*/
/*    font-size: 20px;*/

/*    height: 30px;*/
}

.toolbar-button {
    width: 40px;
    padding: 5px;
    margin: 8px;

    background-color: #222;
    color: white;
/*    font-weight: bold;*/
    font-size: 20px;

    cursor: pointer;

    border: 0px solid black;
    border-radius: 3px;
}

.sigid-info {
/*    width: 150px;*/
    height: auto;
}

.sigid-buttons {
    height: auto;
    margin-top: 4px;
    margin-bottom: 9px;
    margin-right: 4px;
    margin-left: 4px;

    display: flex;
    flex-direction: column;

    background-color: #333;
    border-radius: 3px;
}

#sigid-info-container {
    width: 150px;
}

#signal-info-container {
    width: 250px;
}

.signal-image-container {
    width: 100%;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 8px;
}

.active-system-container {
    display: none;
}

.add-system {
    display: none;
    height: auto;
/*    padding: 3px;*/
}

#add-system-info-container {
    width: 250px;
}

#add-device-info-container {
    width: 300px;
}

.system-db-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-system-buttons {
/*    height: 100%;*/
    margin-top: 4px;
    margin-bottom: 9px;
    margin-right: 4px;
    margin-left: 4px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #333;
    border-radius: 3px;
}

#add-new-system {
    color: green;
}

#delete-selected-system {
    color: red;
}

.database-button {
    width: 40px;
    padding: 7px;
    margin: 5px;

    background-color: #111;
    color: white;
    font-size: 1em;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;

    border: 0px solid #222;
    border-radius: 3px;
}

.infoList input {
    width: calc(100% - 6px);
    margin-right: 3px;
    color: white;
    background-color: #111;
    padding: 3px;
    margin-bottom: 3px;
    border: 0px;
}

.db-id-div {
    width: calc(100% - 10px);
    height: 10px;
    margin-right: 3px;
    padding: 3px;
    margin-bottom: 5px;
    border: 2px solid #222;
    border-radius: 2px;

    font-weight: bold;
    color: #666;
    background-color: #222;
}

.systems {
    height: 100%%;
/*    display: none;*/
    display: flex;
/*    padding: 3px;*/
}

.systems label {
    color: orange;
}

#systemContainer {
    position: relative;
    width: 250px;
/*    height: 100%;*/
}

#nodeContainer {
    position: relative;
    width: 300px;
/*    height: 100%;*/
}

.parent-container-item {
    overflow: hidden;
    padding: 4px;
    margin-bottom: 4px;
    background-color: #111;

    font-size: 11px;
    font-weight: bold;
    color: white;

    border: 1px solid #111;
    border-radius: 2px;
    cursor: pointer;
}

.child-container-item {
    overflow: hidden;
    padding: 2px;
    font-weight: normal;
    font-size: 10px;
/*    height: 50px;*/
/*    overflow-y: scroll;*/
    margin-top: 4px;
    background-color: #222;
    color: white;
    border: 2px solid #222;
    border-radius: 2px;
}

/*.database-delete-node-button {
    background-color: #111;
    font-size: 10px;
    font-weight: bold;
    color: red;
    position: relative;
    right: 0;
    border: 1px solid #222;
    border-radius: 2px;
}*/

.infoContainer {
    margin: 5px;
    padding-bottom: 5px;
/*    margin-right: 8px;*/
}

.infoLabel {
    margin-bottom: 5px;

    font-weight: bold;
/*    width: 100%;*/
    background-color: #333;
    color: orange;
    
    border: 3px solid #333;
    border-radius: 3px;
    padding: 0px;
    text-align: center; 
}

.infoList {
/*    margin-bottom: 5px;*/

    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
    position: relative;

/*    flex-grow: 1;*/

    border: 3px solid #333;
    background-color: #333;
    border-radius: 3px;
    padding: 3px;
    padding-right: 7px;
/*    width: 100%;*/
    height: calc(100% - 35px);
    left: 0;
    text-align: left; 
}

.systemInfoItem {
    padding: 2px;
    margin-bottom: 4px;

/*    overflow: hidden;*/

    background-color: #222;
    color: white;
    border: 2px solid #222;
    border-radius: 2px;
    width: 95%;
}

.olympus-systems {
    display: none;
}

#olympusSystemContainer {
    position: relative;
    width: 300px;   
}

#olympusDeviceContainer {
    position: relative;
    width: 300px;
}

.olympus-system-buttons-container {
    display: flex;
    flex-direction: column;
/*    justify-content: space-between;*/
}

.olympus-system-buttons {
/*    height: 100%;*/
    margin-top: 4px;
    margin-bottom: 9px;
    margin-right: 4px;
    margin-left: 4px;

    display: flex;
    flex-direction: column;

    background-color: #333;
    border-radius: 3px;
}

.olympus-systems-button {
    width: 40px;
    padding: 7px;
    margin: 5px;

    background-color: #111;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

    border: 0px solid #222;
    border-radius: 3px;
}

.add-device {
    display: none;
}

.sigint-view-container {
    display: none;
}

#zoomedInCanvas {
    display: none;
}


/*SIDEBAR*/

.sidebar {
/*    display: none;*/
    flex-shrink: 0;
    width: 180px;

    height: 100%;
    overflow-y: auto;
    background-color: #222;

    border-right: 4px solid #111;

    padding-top: 0px;
    padding-left: 7px;
    padding-right: 11px;
    box-sizing: border-box;
}

.title-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: -10px;
    padding: 3px;
    border: 2px solid #222;
}

#raven-logo {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.titleSweep {
    text-align: center;
    color: orange;
    margin: 0px;
/*    margin-bottom: -5px;*/
}

.sidebar hr {
    margin-left: -7px;
    margin-right: -11px;
    box-sizing: border-box;
    border-color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}

.settings label,
.sliders label {
    display: block;
    margin-bottom: 2px;
}

.sliders input[type="range"] {
    width: 100%;
    margin-bottom: 10px;


    -webkit-appearance: none;
    height: 12px;
    background: #111;
    outline: none;
    border: 0px solid orange;
    border-radius: 3px;
}

#thresholdSlider {
    margin-bottom: -4px;
}

/* for chrome/safari */
.slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 15px;
     height: 12px;
     background: orange;
     cursor: pointer;
     border: 0px solid orange;
     border-radius: 3px;
}

/* for firefox */
.slider::-moz-range-thumb {
    width: 20px;
    height: 12px;
    background: orange;
    cursor: pointer;
    border: 0px solid orange;
    border-radius: 3px;
}


.sidebar button {
    width: 100%;
/*    height: 30px;*/
    padding: 7px;
    margin-bottom: 4px;
    margin-top: 4px;

    border: none;
    color: black;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;

    border: 0px solid black;
    border-radius: 3px;
}

.sidebar button:hover {
    background-color: darkgreen;
}

.stopButton {
    background-color: red;
}

.startButton {
    background-color: orange;
}

.rtlTCPInfo label {
    display: block;
    margin-bottom: 5px;
}

.rtlTCPInfo button {
    margin-bottom: 15px;
    background-color: #333;
    color: orange;
    border: 0px solid black;
    border-radius: 3px;
}

.rtlTCPInfo div {
/*    border: 0px solid black;*/
}

.currentTCPFreqBox {
    background-color: #333;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 3px;

    padding: 4px;
    width: 100% -1px;
    text-align: left; 
    font-weight: bold;
    color: orange;
    font-size: 13px;
    margin-top: -10px;
    margin-bottom: 15px;
    cursor: pointer;
}

#settingsBtn {
    background-color: #333;
    color: white;
}

#settingsBtn:hover {
    background-color: #444;
}

#version-text {
/*    position: relative;*/
/*    overflow: hidden;*/
/*    margin: 10px;*/
    color: orange;
    font-weight: bold;
    font-size: 10px;
/*    bottom: 0;*/
}

.popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.popup-content {
    background-color: rgba(20, 20, 20, 1.0);
    margin: 10% auto;
    margin-bottom: 2% auto;
    padding: 20px;
    border: 0px solid #888;
    border-radius: 10px;
    width: 50%;
    height: auto;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}



/*TESTING*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#frequencyRangeMin {
    width: 40px;
    margin-left: 5px;
}

#frequencyRangeMax {
    width: 40px;
    margin-left: 5px;
}

#gain {
    width: 40px;
}

#fftBinSize {
    width: 40px;
}

/* Switch slider */
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.popup-content hr {
    margin-top: 15px;
    border: 2px solid #222;
}

.popup-content label {
    padding-left: 5px;
}

.popup-content select {
    background-color: #333;
    color: white;
    outline: none;
    border: 0px solid black;
    padding: 3px;
}

.popup-content input[type="text"] {
/*    width: 100%;*/
    margin-bottom: 15px;
    height: 20px;

    color: #fff;
    background: #333;
    outline: none;
    border: 0px solid orange;
    border-radius: 0px;    
}

.popup-content button {
    width: 20px;
    height: 20px;

    margin-top: -3px;
    margin-left: 5px;

    display: inline-block;
    vertical-align: middle;

    border: none;
    color: black;
    font-size: 15px;
    line-height: normal;
/*    text-align: center;*/
    font-weight: bold;
    cursor: pointer;

/*    border: 1px solid black;*/
}

.add-rtltcp-button {
    background-color: green;
}

.remove-rtltcp-button {
    background-color: red;
}

.popup-content button:hover {
    background-color: orange;
}

.rtlTCPSettingsIP {
    width: 100px;
}

.rtlTCPSettingsClientPort {
    width: 50px;
}

.rtlTCPSettingsPort {
    width: 50px;
}

.rtlTCPSettingsGain {
    width: 50px;
}

.rtl-tcp-inputs select {
/*    background-color: #333;*/
}

.rtl-tcp-inputs {
    margin-bottom: 10px;
    background-color: #222;
    border: 0px solid #000;
    border-radius: 3px;

    padding: 15px;
    padding-bottom: 0px;

    width: 100% -1px;
    text-align: left;
}

#olympus-api-submit-btn {
    width: 80px;
    color: white;
    background-color: green;
    text-align: center;
    border-radius: 4px;
}

#api-key {
    width: 60%;
}

#location-latlong {
    width: 60%;
}






.popup-content slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.popup-content slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


::-webkit-scrollbar {
    height: 8px;
    width: 8px; /* Set the width of the scrollbar */
}

/* Handle of the scrollbar (the draggable part) */
::-webkit-scrollbar-thumb {

    background-color: #444; /* Set the color of the thumb */
    border-radius: 3px; /* Add rounded corners to the thumb */
}

/* Track of the scrollbar (the area the thumb moves along) */
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0); /* Set the color of the track */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Set a different color when hovering over the thumb */
}

/* Handle when being dragged */
::-webkit-scrollbar-thumb:active {
    background-color: #555; /* Set a different color when the thumb is being dragged */
}