#canvasContainer {
    width: 100%;
    height: 500;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

#activityBar {
    position: sticky;
    top: 0;
    margin-top: -2px;
    width: 100%;
    height: 30px;
    overflow: hidden;
    z-index: 2;
    margin-bottom: -4px;

    image-rendering: pixelated; /* For pixelated scaling */
}

#waterfall {
    z-index: 1;
    width: 100%;
    height: 3000px;
    image-rendering: pixelated;
    will-change: transform;

    overflow-y: hidden;
}

#testIMG {
    position: sticky;
}

.liveOverlayContainer {
    width: 100%;
    position: sticky;
    margin-bottom: -30px;
    height: 30px;
    z-index: 3;
    top: 0;
}

.liveOverlay {
    position: absolute;
    width: 0px;
    background-color: rgba(255, 255, 255, 0.25);
    border-top: 3px solid rgba(0, 255, 255, 1.0);
/*    border: 1px solid rgba(255, 255, 255, 0.1);*/
    top: 0;
    pointer-events: none;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    font-size: 12px;
}

hr {
    z-index: 2;
    position: sticky;
    top: 30px;
    margin: 0;
    border-color: #111;
    border: 2px solid black;
}

label {
    font-weight: bold;
}

.flex-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    z-index: 5;
    width: 250px;
    height: 100vh;
    background-color: #222;
    padding: 12px;
    padding-right: 15px;
    box-sizing: border-box;
}

.titleSweep {
    text-align: center;
    margin: -10px;
    color: orange;
}

.sidebar hr {
    margin-left: -12px;
    margin-right: -15px;
    box-sizing: border-box;
    border-color: #333;
    margin-top: 15px;
    margin-bottom: 15px;
}

.settings label,
.sliders label {
    display: block;
    margin-bottom: 5px;
}

.freqInfo label {
    margin-bottom: 5px;
}

.sliders input[type="range"] {
    width: 100%;
    margin-bottom: 10px;


    -webkit-appearance: none;
    height: 18px;
    background: #000;
    outline: none;
    border: 0px solid orange;
    border-radius: 3px;
}

#thresholdSlider {
    margin-bottom: -4px;
}

/* for chrome/safari */
.slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 15px;
     height: 15px;
     background: orange;
     cursor: pointer;
     border: 0px solid orange;
     border-radius: 3px;
}

/* for firefox */
.slider::-moz-range-thumb {
    width: 20px;
    height: 15px;
    background: orange;
    cursor: pointer;
    border: 0px solid orange;
    border-radius: 3px;
}


.sidebar button {
    width: 100%;
    padding: 10px;

    border: none;
    color: black;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;

    border: 0px solid black;
    border-radius: 3px;
}

.sidebar button:hover {
    background-color: darkgreen;
}

.stopButton {
    background-color: red;
}

.startButton {
    background-color: orange;
}


.freqInfo {
    background-color: #333;
    border: 0px solid #000;
    border-radius: 3px;
    padding: 5px;
    width: 100% -1px;
    text-align: left; 
}

.rtlTCPInfo label {
    display: block;
    margin-bottom: 5px;
}

.rtlTCPInfo button {
    margin-bottom: 15px;
    background-color: #444;
    color: orange;
    border: 0px solid black;
    border-radius: 3px;
}

.rtlTCPInfo div {
/*    border: 0px solid black;*/
}

.currentTCPFreqBox {
    background-color: #333;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 3px;

    padding: 4px;
    width: 100% -1px;
    text-align: left; 
    font-weight: bold;
    color: orange;
    font-size: 13px;
    margin-top: -10px;
    margin-bottom: 15px;
    cursor: pointer;
}

#settingsBtn {
    background-color: #333;
    color: white;
}

#settingsBtn:hover {
    background-color: #444;
}

#version-text {
/*    position: relative;*/
/*    overflow: hidden;*/
/*    margin: 10px;*/
    color: orange;
    font-weight: bold;
    font-size: 10px;
/*    bottom: 0;*/
}

.popup {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.9);
}

.popup-content {
    background-color: rgba(20, 20, 20, 1.0);
    margin: 10% auto;
    margin-bottom: 2% auto;
    padding: 20px;
    border: 0px solid #888;
    border-radius: 10px;
    width: 50%;
    height: auto;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}



/*TESTING*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#frequencyRangeMin {
    width: 40px;
    margin-left: 5px;
}

#frequencyRangeMax {
    width: 40px;
    margin-left: 5px;
}

#gain {
    width: 40px;
}

#fftBinSize {
    width: 40px;
}

/* Switch slider */
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.popup-content hr {
    margin-top: 15px;
    border: 2px solid #222;
}

.popup-content label {
    padding-left: 5px;
}

.popup-content select {
    background-color: #333;
    color: white;
    outline: none;
    border: 0px solid black;
    padding: 3px;
}

.popup-content input[type="text"] {
/*    width: 100%;*/
    margin-bottom: 15px;
    height: 20px;

    color: #fff;
    background: #333;
    outline: none;
    border: 0px solid orange;
    border-radius: 0px;    
}

.popup-content button {
    width: 20px;
    height: 20px;

    margin-top: -3px;
    margin-left: 5px;

    display: inline-block;
    vertical-align: middle;

    border: none;
    color: black;
    font-size: 15px;
    line-height: normal;
/*    text-align: center;*/
    font-weight: bold;
    cursor: pointer;

/*    border: 1px solid black;*/
}

.add-rtltcp-button {
    background-color: green;
}

.remove-rtltcp-button {
    background-color: red;
}

.popup-content button:hover {
    background-color: orange;
}

.rtlTCPSettingsIP {
    width: 100px;
}

.rtlTCPSettingsClientPort {
    width: 50px;
}

.rtlTCPSettingsPort {
    width: 50px;
}

.rtlTCPSettingsGain {
    width: 50px;
}

.rtl-tcp-inputs select {
/*    background-color: #333;*/
}

.rtl-tcp-inputs {
    margin-bottom: 10px;
    background-color: #222;
    border: 0px solid #000;
    border-radius: 3px;

    padding: 15px;
    padding-bottom: 0px;

    width: 100% -1px;
    text-align: left;
}

.popup-content slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.popup-content slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}